@import './base.css';

#app {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: var(--vt-c-white);
}

@media (max-width: 768px) {
  #app {
    display: flex;
    flex-direction: column;
    font-size: small;
  }
}

@media (min-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

/* Añadir márgenes a secciones de contenido */
.content-section {
  padding: 20px;
  margin-bottom: 20px;
}
